# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
prometheus-bin/data/
__pycache__/
prometheus-bin/prometheus.exe
prometheus-bin/promtool.exe
prometheus-bin/data/
node_modules/
.env
.vercel
